/* ログアウトボタン */
a {
    text-decoration: none;
}

.logoutContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
/*     padding: 30px 0px;
 */}

.logoutContainer p {
    color: #FF0000;
    font-size: 20px;
}

.logoutIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home path {
	fill: black;
}
.home span {
	color: black;
}
.logoutForm {
	display: flex;
    justify-content: flex-end;
}
.logoutButton {
    background: none;     /* 背景色をなくす */
    border: none;         /* 枠線をなくす */
}