/* ログインテキスト */
.loginText p {
    text-align: center;
    margin: 30px 0;
}
/* ------------------------------------------------- */


/* ログインフォーム */
.input {
    margin: 20px auto;
}
/* ------------------------------------------------- */


/* ボタン */
.buttonContainer {
    margin-top: 40px;
}
/* ------------------------------------------------- */


/* 登録リンク */
.createAccountLink {
    text-align: center;
    margin-top: 24px;
}

.line {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.line::before,
.line::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #EBEDF2;
    margin: 0 12px;
}

.line span {
    margin: 30px 0;
    white-space: nowrap;
    color: #888;
    font-size: 14px;
}

.createAccountLink a {
    color: #208ED4;
    font-size: 15px;
    text-decoration: none;
}
/* ------------------------------------------------- */