/* 目標設定 */
.goalSettingText {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
/* ------------------------------------------------- */


/* テキスト */
.goalSettingTextH3 h3{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}
/* ------------------------------------------------- */


/* 警告文 */
.goalSettingWarning ul {
    list-style: none; /* デフォルトのリストスタイルを削除 */
    padding-left: 0; 
    margin: 0 20px;
}

.goalSettingWarning li::before {
    content: "※ "; /* 疑似要素で指定 */
}

.goalSettingWarning li {
    line-height: 2;
    text-indent: -1.5em;
    margin-bottom: 20px;
}

.goalSettingWarning span {
    color: #FF0000;
    font-size: 16px;
}
/* ------------------------------------------------- */

/* エラーメッセージ */
.weekMessageArea {
    min-height: 40px;
    text-align: center;
    margin-top: 20px;
}

.weekMessage {
    color: #000; /* 黒文字 */
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

/* ------------------------------------------------- */


/* ボタンコンテナの設定 */
.buttonContainer {
    margin-top: 30px;
    
}
/* ------------------------------------------------- */