.headerH1 {
    margin: 120px 0 40px;
    font-size: 15px;
}

.loginLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.loginLink a {
    color: #208ED4;
    font-size: 15px;
    text-decoration: none;
}

.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terms p {
    text-align: center;
    font-size: 12px;
}
