/* テキスト */
.resultText {
    text-align: center;
    margin: 50px 0;
}

.resultText h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
/* ------------------------------------------------- */


/* アイコン */
.resultIcon {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------------------------------------- */


/* テキスト */
.registTextH3 h3{
    margin: 50px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.registTextH3 span {
    font-size: 20px;
    color: #FF0000;
}
/* ------------------------------------------------- */


/* ボタン */
.buttonContainer {
    margin-top: 80px;
}
/* ------------------------------------------------- */


/*バー */
.feedback path {
	fill: black;
}
.feedback span {
	color: black;
}
/* ------------------------------------------------- */