/* Todoリストフォーム */
.todoForm {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 8px;
    align-items: center; /* 縦方向中央揃え */
}

.input {
    border-radius: 50px;
    padding: 15px;
    width: 80%;
    margin: 0;
}

.button {
    padding: 15px;
    width: 20%;
}
/* ------------------------------------------------- */


/* Todoリスト */
.todoList ul{
    margin-left: 20px;
    padding-left: 0;
}

.todoList li {
    display: flex;
    align-items: center; /* 縦方向中央揃え */
    justify-content: space-between; /* 左右のスペースを均等に */
    margin: 20px 0;
}

.todoList input {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    vertical-align: middle; /* 縦方向中央揃え */
}

.deleteButton {
    border: none;
    background: none;
    box-shadow: none;
    padding: 10px 20px;
}
/* ------------------------------------------------- */


/*バー */
.todoListColor path {
	fill: black;
}
.todoListColor span {
	color: black;
}
/* ------------------------------------------------- */


/*文字色 */
input.checkbox:checked + label {
    color: gray;
  }

.liText li{
	color: gray;
}